<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add an Ingredient</title>
<style>
input.ng-valid {
	background-color: lightgreen;
}

input.ng-dirty.ng-invalid-required,input.ng-dirty.ng-invalid-number {
	background-color: red;
}

input.ng-dirty.ng-invalid-min {
	background-color: yellow;
}


</style>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
</head>

<body>
	<div ng-controller="ingredientController">
		<div class="generic-container ng-cloak">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="lead">Add Ingredient</span>
				</div>
				<div class="formcontainer">
					<form class="form-horizontal" name="addIngredientForm">
					
						<div class="row">
							<div class="form-group col-md-12">
								<label style="text-align:center" class="col-md-3 control-label" for="file">Ingredient Name</label>
								<label style="text-align:center" class="col-md-2 control-label" for="file">Amount</label>
							</div>
						</div>
						
						<div class="row">
							<div class="form-group col-md-12">
								<div class="col-md-3">
									<input type="text"
										class="coffee form-control input-sm"
										placeholder="Enter name"
										ng-model="ingredient.name"
										name="ingredientName"
										required/>
									<div class="has-error" ng-show="addIngredientForm.$dirty">
										<span ng-show="addIngredientForm.ingredientName.$error.required">This
											is a required field.</span>
									</div>
								</div>
								<div class="col-md-2">
									<input type="number"
										class="coffee form-control input-sm"
										placeholder="Enter amount"
										required="0" min="0"
										ng-model="ingredient.amount"
										name="ingredientAmount"/>
									<div class="has-error" ng-show="addIngredientForm.$dirty">
										<span ng-show="addIngredientForm.ingredientAmount.$error.required">This
											is a required field.</span> <span
											ng-show="addIngredientForm.ingredientAmount.$error.min">Minimum
											amount is 0.</span> <span ng-show="addIngredientForm.ingredientAmount.$invalid">This
											field is invalid.</span>
									</div>
								</div>
							</div>
						</div>
	
						<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Submit"
									class="btn btn-primary btn-sm" ng-click="addIngredient()" ng-disabled="addIngredientForm.$invalid"/>
								<button type="button"
									class="btn btn-warning btn-sm"
									ng-click="reset()"
									ng-disabled="addIngredientForm.$pristine">Reset Form</button>
							</div>
						</div>
					</form>
				</div>
			<div ng-show="success">Ingredient Successfully Added.</div>
			<div ng-show="failure">Ingredient Could Not Be Added.</div>
			</div>
			<a href="/index">Home</a>
		</div>
	</div>
</body>
</html>